.footer-div {
    background-color: rgb(111, 109, 109);
    color: white;
}

.details-div {
    height: 30px;
}

.text-bold {
    font-weight: bold;
}

.pay-span {
    color: lightblue;
    margin-left: 6px;
}

.title-text {
    font-size: 22px;
}