<div class="footer-div">
    <div class="page-container">
        <div fxLayout="row" fxLayoutAlign="center center" class="details-div">
            <div fxLayout="column" fxFlex="50">
                <div fxLayout="row">
                    <span class="title-text">RBC</span>
                    <span class="pay-span title-text">Pay</span>
                    <span class="title-text">Edge</span>
                </div>
            </div>
            <div fxLayout="column" fxFlex="50">
                <div fxLayout="row" fxFlexAlign="end">
                    <span>Need help? Contact us at <span class="text-bold">dev@wappay.ca</span> or call</span>
                    <span class="text-bold">1-833-945-4292</span>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="details-div">
            <div fxLayout="column" fxFlex="50">
                <div fxLayout="row">Royal Bank of Canada Website, 1995-2025</div>
            </div>
            <div fxLayout="column" fxFlex="50">
                <div fxLayout="row" fxLayoutGap="20px" fxFlexAlign="end">
                    <span class="text-bold">Terms of Service</span>
                    <span class="text-bold">Privacy & Security Policy</span>
                </div>
            </div>
        </div>
    </div>
</div>