<div class="header-div">
    <div class="page-container">
        <div fxLayout="row" fxLayoutAlign="center center" class="details-div">
            <div fxLayout="column" fxFlex="60">
                <div fxLayout="row" fxLayoutGap="40px">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="start center">Dashboard</div>
                    </div>
                    <div fxLayout="column">
                        <div fxLayout="row">
                            <span>Payments & Transfers</span>
                            <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                    </div>
                    <div fxLayout="column">
                        <div fxLayout="row">
                            <span>Suppliers</span>
                            <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                    </div>
                    <div fxLayout="column">Help Center</div>
                </div>
            </div>
            <div fxLayout="column" fxFlex="40">
                <div fxLayout="row" fxLayoutGap="20px" fxFlexAlign="end">
                    <div fxLayout="column">
                        N and F solutions
                    </div>
                    <div fxLayout="column">
                        <div fxLayout="row">
                            <mat-icon>settings</mat-icon>
                            <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>