<div class="sub-header-div auto-height-box acl-padding-top">
    <div class="page-container">
        <div fxLayout="row" fxLayoutGap="16">
            <div fxLayout="column" fxFlex="90">
                <!-- Row 1 -->
                <div fxLayout="row" fxLayoutGap="16" class="text-bold">
                    <div fxFlex="20">Pending Approval:</div>
                    <div fxFlex="20" class="align-center">Attention Required:</div>
                    <div fxFlex="20" class="align-center">Scheduled Payments:</div>
                    <div fxFlex="20" class="align-center">Next Scheduled Payment Date:</div>
                    <div fxFlex="20" class="align-center">Completed This Month:</div>
                </div>

                <!-- Row 2 -->
                <div fxLayout="row" class="align-center align-top-row" fxLayoutGap="16">
                    <div fxFlex="20" class="text-color-error">0 Orders(s)</div>
                    <div fxFlex="20" class="text-color-error">8 Orders(s)</div>

                    <div fxLayout="column" fxFlex="20" fxLayoutAlign="center center">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8">
                            <span>$69.00</span>
                            <img src=" https://flagcdn.com/ca.svg" alt="Canada Flag" width="36" height="20" />
                        </div>
                    </div>
                    <div fxFlex="20">October 30th, 2024</div>
                    <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
                        <div fxLayout="row" fxLayoutGap="8">
                            <span>$69.00</span>
                            <img src=" https://flagcdn.com/ca.svg" alt="Canada Flag" width="36" height="20" />
                        </div>
                    </div>
                </div>

                <!-- Row 3 -->
                <div fxLayout="row" class="align-center align-top-row" fxLayoutGap="16">
                    <div fxFlex="20" class="text-color-error">8 Transfer(s)</div>
                    <div fxFlex="20"></div>
                    <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8">
                            <span>$0.00</span>
                            <img src=" https://flagcdn.com/us.svg" alt="US Flag" width="36" height="20" />
                        </div>
                    </div>
                    <div fxFlex="20"></div>
                    <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
                        <div fxLayout="row" fxLayoutGap="8">
                            <span>$0.00</span>
                            <img src=" https://flagcdn.com/us.svg" alt="US Flag" width="36" height="20" />
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxFlex="10" fxLayoutAlign="center end">
                <mat-icon class="circle-icon">keyboard_arrow_left</mat-icon>
            </div>
        </div>
    </div>
</div>