// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.acl-no-border-radius {
  border-radius: 0 !important;
}

.acl-text-bold {
  font-weight: bold;
}

.acl-border-bottom {
  border-bottom: 2px solid lightgray;
}

.acl-margin-top {
  margin-top: 10px;

  &--2x {
    margin-top: 20px;
  }

  &--small {
    margin-top: 4px;
  }
}

.acl-margin-bottom {
  margin-bottom: 10px !important;

  &--2x {
    margin-bottom: 20px !important;
  }
}

.acl-padding-bottom {
  padding-bottom: 10px !important;
}

.acl-padding-top {
  padding-top: 10px !important;
}

.acl-text-blue {
  color: #243cc1;
}

.acl-font-small {
  font-size: 10px;
}

.acl-padding-y {
  padding: 10px 0;
}

.acl-margin-left {
  margin-left: 4px;

  &--2x {
    margin-left: 8px;
  }
}

.acl-text-white {
  color: grey !important;
}

.acl-circle-icon {
  border: 2px solid #243cc1;
  border-radius: 50%;
  padding: 8px;
  font-size: 18px;
  width: 20px !important;
  height: 20px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  vertical-align: middle;

  &--large {
    border: 2px solid #243cc1;
    border-radius: 50%;
    padding: 8px;
    font-size: 36px;
    width: 20px !important;
    height: 20px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    vertical-align: middle;
    width: 50px !important;
    height: 50px !important;
  }
}

.acl-padding {
  padding: 10px;

  &--2x {
    padding: 20px;
  }
}

.acl-link:hover {
  text-decoration: underline;
}